<div class="container mt-3">
    <h2 class="text-center">{{title}}</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Id</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Present Address</th>
                <th scope="col">Permanent Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userData of userList">
                <th scope="row">{{userData.serial}}</th>
                <td>{{userData.user_id}}</td>
                <td>{{userData.full_name}}</td>
                <td>{{userData.email}}</td>
                <td>{{userData.mobile_number}}</td>
                <td>{{userData.present_address}}</td>
                <td>{{userData.permanent_address}}</td>
                <td class="d-flex align-items-center justify-content-center">
                    <button class="me-1" (click)="onEdit(userData.user_id)">
                        Edit
                    </button>
                    <button (click)="onDelete(userData.serial)">
                        Delete
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>