<h2 class="text-center">{{title}}</h2>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Present Address</th>
            <th scope="col">Permanent Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{userData.serial}}</th>
            <td>{{userData.user_id}}</td>
            <td>{{userData.full_name}}</td>
            <td>{{userData.mobile_number}}</td>
            <td>{{userData.present_address}}</td>
            <td>{{userData.permanent_address}}</td>
        </tr>
        <tr>
            <th scope="row">{{userData.serial}}</th>
            <td>{{userData.user_id}}</td>
            <td>{{userData.full_name}}</td>
            <td>{{userData.mobile_number}}</td>
            <td>{{userData.present_address}}</td>
            <td>{{userData.permanent_address}}</td>
        </tr>
        <tr>
            <th scope="row">{{userData.serial}}</th>
            <td>{{userData.user_id}}</td>
            <td>{{userData.full_name}}</td>
            <td>{{userData.mobile_number}}</td>
            <td>{{userData.present_address}}</td>
            <td>{{userData.permanent_address}}</td>
        </tr>
        <tr>
            <th scope="row">{{userData.serial}}</th>
            <td>{{userData.user_id}}</td>
            <td>{{userData.full_name}}</td>
            <td>{{userData.mobile_number}}</td>
            <td>{{userData.present_address}}</td>
            <td>{{userData.permanent_address}}</td>
        </tr>
    </tbody>
</table>